{% extends "main/base.html" %}
{% block title %}
<title>Enterprise Grand Ortus | Enterprise Solutions for Australian Businesses</title>
{% endblock title %}
{% block metaname %}
<meta name="description" content="Grand Ortus delivers cutting-edge enterprise solutions tailored for Australian businesses. Streamline operations, integrate systems, and drive innovation with our expertise.">
{% endblock metaname %}
{% block metakeyword %}
<meta name="keywords" content="Grand Ortus, enterprise solutions Australia, business integration Australia, enterprise technology Australia, system integration services, enterprise software, business innovation Australia">
{% endblock metakeyword %}
{% block csslink %}
<link rel="stylesheet" href="/static/css/companySize.css">
{% endblock csslink %}
<body>


{% block content %}
    <!-- Startup Hero Section -->
    <section class="hero">
        <div class="container">
            <div class="row justify-content-center text-center pt-4">
                <div class="col-lg-7 col-md-12 col-12">
                    <div class="left-item align-items-center">
                        <div class="heading-sec ">
                            <h1>Importance of Enterprises in the economy.</h1>
                            <p class="lead">Role of systems integrators in modernizing and optimizing Enterprises.</p>
                        </div>
                        <!-- <button class="learn-more-btn mt-lg-5">
                                <a href="#" class="learn-more-link">Learn More</a></button> -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Key Requirements Section -->
    <section class="container my-5">
        <h2 class="p-2">Requirements for Systems Integrators in Enterprises</h2>
        <div class="row Key-sec">
            <div class="col-lg-6 pt-4">
                <ul class="py-5">
                    <li><strong>Technical Expertise:</strong> Proficiency in networking, software, and hardware
                        solutions.</li>
                    <li><strong>Project Management Skills:</strong> Ability to plan, coordinate, and execute complex
                        projects with
                        tight deadlines.</li>
                    <li><strong>Adaptability:</strong> Ability to customize solutions for various industries.
                    </li>
                    <li><strong>Communication and Collaboration Skills:</strong> Effective communication with
                        non-technical Enterprise stakeholders.</li>
                    <li><strong>Cost-Effectiveness:</strong> Delivering solutions within the budget constraints of
                        Enterprises.</li>
                </ul>
            </div>
            <div class="col-lg-6 px-0"><img src="/static/images/enterprise.png" alt="" class="img-fluid"></div>
        </div>
    </section>

    <!-- Roles Section -->
    <section class="container my-5">
        <h2 class="p-2">Roles of Systems Integrators in Enterprises</h2>
        <ul>
            <li><strong>Technology Consultant:</strong> Identifying the right technology solutions for business needs.
            </li>
            <li><strong>Solution Designer:</strong> Designing integrated systems tailored to Enterprise workflows.</li>
            <li><strong>Enhancing Scalability and Flexibility:</strong> Designing scalable systems that evolve with the
                startup's growth.</li>
            <li><strong>Implementer:
                </strong> Installing and configuring hardware/software solutions.</li>
        </ul>
    </section>

    <!-- Conclusion Section -->
    <section class="container my-5 ">
        <h2 class="bg-success text-white p-2">Conclusion</h2>
        <p>Summary of the importance of systems integrators in Enterprises, Future trends and innovations in systems
            integration for large businesses.
    </section>
{% endblock content %}
</body>

</html>