{% extends "main/base.html" %}
{% block csslink %}
<link rel="stylesheet" href="/static/css/Clients.css">
{% endblock csslink %}

<body>
{% block content %}
<!-- Hero Section -->

<section class="hero">
    <div class="container">
        <div class="row justify-content-center text-center pt-4">
            <div class="col-lg-7 col-md-12 col-12">
                <div class="left-item align-items-center">
                    <div class="heading-sec ">
                        <h1 class="display-4">Our Clients</h1>
                        <p class="lead">Proudly serving industry leaders and innovators.</p>

                    </div>
                    <!-- <button class="learn-more-btn mt-lg-5">
                            <a href="#" class="learn-more-link">Learn More</a></button> -->
                </div>
            </div>
        </div>
    </div>
</section>

<!-- client-img Section -->

<section class="py-5">
    <div class="container">
        <div class="row g-4">

            <div class="col-lg-3">
                <a href="https://www.airindia.in" target="_blank">
                    <div class="client-card">
                        <img src="/static/images/ClientsImg/air-india.png" class="card-img-top" alt="Air India" />
                    </div>
                </a>
            </div>

            <div class="col-lg-3">
                <a href="https://www.airtel.in" target="_blank">
                    <div class="client-card">
                        <img src="/static/images/ClientsImg/airtel.png" class="card-img-top" alt="Airtel" />
                    </div>
                </a>
            </div>

            <div class="col-lg-3">
                <a href="https://www.amity.edu" target="_blank">
                    <div class="client-card">
                        <img src="/static/images/ClientsImg/amity.png" class="card-img-top" alt="Amity University" />
                    </div>
                </a>
            </div>

            <div class="col-lg-3">
                <a href="https://www.dhani.com" target="_blank">
                    <div class="client-card">
                        <img src="/static/images/ClientsImg/dhani.png" class="card-img-top" alt="Dhani" />
                    </div>
                </a>
            </div>

            <div class="col-lg-3">
                <a href="https://www.evolving.com" target="_blank">
                    <div class="client-card">
                        <img src="/static/images/ClientsImg/evolving.png" class="card-img-top" alt="Evolving Systems" />
                    </div>
                </a>
            </div>

            <div class="col-lg-3">
                <a href="https://www.greenkogroup.com" target="_blank">
                    <div class="client-card">
                        <img src="/static/images/ClientsImg/greenko.png" class="card-img-top" alt="Greenko" />
                    </div>
                </a>
            </div>

            <div class="col-lg-3">
                <a href="https://www.magicbricks.com" target="_blank">
                    <div class="client-card">
                        <img src="/static/images/ClientsImg/maagicbrickes (1).png" class="card-img-top" alt="MagicBricks" />
                    </div>
                </a>
            </div>

            <div class="col-lg-3">
                <a href="https://www.nokia.com" target="_blank">
                    <div class="client-card">
                        <img src="/static/images/ClientsImg/nokia.png" class="card-img-top" alt="Nokia" />
                    </div>
                </a>
            </div>

            <div class="col-lg-3">
                <a href="https://www.onmobile.com" target="_blank">
                    <div class="client-card">
                        <img src="/static/images/ClientsImg/onmobile (1).png" class="card-img-top" alt="OnMobile" />
                    </div>
                </a>
            </div>

            <div class="col-lg-3">
                <a href="https://www.pickrr.com" target="_blank">
                    <div class="client-card">
                        <img src="/static/images/ClientsImg/pickrr.png" class="card-img-top" alt="Pickrr" />
                    </div>
                </a>
            </div>

            <div class="col-lg-3">
                <a href="https://www.rgcirc.org" target="_blank">
                    <div class="client-card">
                        <img src="/static/images/ClientsImg/rgcirc.png" class="card-img-top" alt="Rajiv Gandhi Cancer Institute" />
                    </div>
                </a>
            </div>

            <div class="col-lg-3">
                <a href="https://www.srf.com" target="_blank">
                    <div class="client-card">
                        <img src="/static/images/ClientsImg/srf.png" class="card-img-top" alt="SRF Limited" />
                    </div>
                </a>
            </div>

            <div class="col-lg-3">
                <a href="https://timesofindia.indiatimes.com" target="_blank">
                    <div class="client-card">
                        <img src="/static/images/ClientsImg/thetimes-group.png" class="card-img-top" alt="The Times Group" />
                    </div>
                </a>
            </div>

            <div class="col-lg-3">
                <a href="https://www.timewait.com" target="_blank">
                    <div class="client-card">
                        <img src="/static/images/ClientsImg/timewait.png" class="card-img-top" alt="TimeWait" />
                    </div>
                </a>
            </div>

            <div class="col-lg-3">
                <a href="https://www.vmartretail.com" target="_blank">
                    <div class="client-card">
                        <img src="/static/images/ClientsImg/vmart.png" class="card-img-top" alt="V-Mart" />
                    </div>
                </a>
            </div>

            <div class="col-lg-3">
                <a href="https://www.webboxdigital.com" target="_blank">
                    <div class="client-card">
                        <img src="/static/images/ClientsImg/webbox.png" class="card-img-top" alt="WebBox Digital" />
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>


{% endblock content %}
 
</body>

</html>