{% extends "main/base.html" %}
{% block title %}
<title>Contact GrandOrtus | Get in Touch with Our Experts</title>
{% endblock title %}
{% block metaname %}
<meta name="description" content="Have questions or need assistance? Contact Grand Ortus for expert solutions in system integration and IT services. Reach out to us via phone, email, or our contact form.">
{% endblock metaname %}
{% block metakeyword %}
<meta name="keywords" content="contact Grand Ortus, get in touch, system integration support, IT services contact, Grand Ortus email, contact form, business inquiries, technology solutions help, system integration assistance, IT support, Grand Ortus phone number, customer support">
{% endblock metakeyword %}
{% block csslink %}
<link rel="stylesheet" href="/static/css/Contact.css">
<script src="/static/js/FormValidation.js" defer></script>

{% endblock csslink %}


<body>
    {% block content %}
    <!-- hero section -->
    <section class="hero">
        <div class="container">
            <div class="row justify-content-center text-center pt-4">
                <div class="col-lg-7 col-md-12 col-12">
                    <div class="left-item align-items-center">
                        <div class="heading-sec ">
                            <h1>Contact Us</h1>
                            <p>We'd love to hear from you. Reach out to us with your queries or feedback.</p>

                        </div>
                        <!-- <button class="learn-more-btn mt-lg-5">
                            <a href="#" class="learn-more-link">Learn More</a>
                        </button> -->
                    </div>
                </div>
            </div>
        </div>

    </section>


    <!-- contact-add-card section -->

    <div class="container my-5">
        <div class="row gy-4 justify-content-center">
            <!-- India Office -->
            <div class="col-md-4">
                <div class="location-box india">
                    <h5 >India Office</h5>
                    <ul style="list-style: none;">
                        <li style="display: flex;  margin-bottom: 10px;" >
                            <i class="bi bi-geo-alt icon" ></i>
                            <span>D 14/31, Block E, Ardee City, Sector 52, Gurugram, Haryana 122003</span>
                        </li>
                        <li style="display: flex;  margin-bottom: 10px;" >
                            <i class="bi bi-telephone icon" ></i>
                            <span>+91 9899950003</span>
                        </li>
                        <li >
                            <i class="bi bi-envelope icon" ></i>
                            <a href="mailto:info@grandortus.com" style="color: #00d4ff; text-decoration: none;">info@grandortus.com</a>
                        </li>
                    </ul>
                </div>
            </div>
            
            
            <!-- Australia Office -->
            <div class="col-md-4">
                <div class="location-box australia" >
                    <h5 >Australia Office</h5>
                    <ul style="list-style: none;" >
                        <li style="display: flex;  margin-bottom: 10px;" >
                            <i class="bi bi-geo-alt icon" ></i>
                            <span>23 Rosetta Street, Schofields 2762, NSW, Australia</span>
                        </li>
                        <li style="display: flex;  margin-bottom: 10px;" >
                            <i class="bi bi-telephone icon" ></i>
                            <span>+61 473 123 937</span>
                        </li>
                        <li >
                            <i class="bi bi-envelope icon" ></i>
                            <a href="https://mail.google.com/mail/?view=cm&to=info@grandortus.com.au" style="color: #00d4ff; text-decoration: none;">
                                info@grandortus.com.au
                              </a>
                             </li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>

    <!-- ----Contact Us Section---- -->

    <section class="Contact-section py-lg-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-4">
                    <h4 class="contact-title mb-4">Contact Us</h4>
                    <h1 class="mb-4">Let's connect with us</h1>
                    <!-- <p>Lorem ipsum dolor sit amet consectetur. Sem amet a integer potenti tempor. Orci eu turpis justo lacus posuere sed.</p> -->

                    <div class="contact-info">

                        <div class="d-flex align-items-center mb">
                            <div class="contact-icon me-3">
                                <i class="fa-regular fa-envelope"></i>
                            </div>
                            <div>
                                <h5 class="mb-0 ">Email</h5>
                                <p>salil@grandortus.com</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center mb">
                            <div class="contact-icon me-3">
                                <i class="fa-solid fa-phone-volume"></i>
                            </div>
                            <div>
                                <h5 class="mb-0 ">Phone</h5>
                                <p>
                                    +61 473 123 937</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center mb">
                            <div class="contact-icon me-3">
                                <i class="fa-solid fa-location-dot"></i>
                            </div>
                            <div>
                                <h5 class="mb-0 ">Location</h5>
                                <p>23 Rosetta Street, Schofields 2762, NSW, Australia</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- form-section -->

                <div class="col-lg-6">
                    <div class="form-section">
                        <form action="/indexContactForm/" method="POST" id="contactForm" novalidate>
                            {% csrf_token %}
                            <div class="row mb-3">
                              <div class="col-lg-6 d-grid gap-3">
                                <input type="text" class="form-control " name="name" id="name" placeholder="Name" onblur="validateName()">
                                <div id="name-error" class="error-message"></div>
                              </div>
                              <div class="col-lg-6">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Email" onblur="validateEmail()" required>
                                <div id="email-error" class="error-message"></div>
                              </div>
                            </div>
                            <div class="row mb-3">
                              <div class="col-lg-6 d-grid gap-3">
                                <input type="phone" class="form-control" name="phone" id="phone" placeholder="Phone" onblur="validatePhone()" pattern="[0-9]{10}" required>
                                <div id="phone-error" class="error-message"></div>
                              </div>
                              <div class="col-lg-6">
                                <select class="form-select" name="services" id="services" required >
                                  <option value="" disabled selected>Services</option>
                                  <option value="Development">Development</option>
                                  <option value="Implementation Services">Implementation Services</option>
                                  <option value="IT Infrastructure Consulting">IT Infrastructure Consulting</option>
                                  <option value="Datacenter Infra Design & Deployment">Datacenter Infra Design & Deployment</option>
                                  <option value="Networking And Security">Networking And Security</option>
                                  <option value="Mobility And Cloud">Mobility And Cloud</option>
                                  <option value="Intranet">Intranet</option>
                                  <option value="FMS And AMC Support">FMS And AMC Support</option>
                                  <option value="Web Design">Web Design</option>
                                </select>
                              </div>
                            </div>
                            <div class="mb-3">
                              <textarea class="form-control" name="message" id="message" rows="4" placeholder="Messages" required></textarea>
                            </div>

                            <div class="captcha">
                                <div style="display: flex; align-items: center; gap: 10px;">
                                    <span id="contact-captcha-code" class="captcha-code"></span>
                                    <button type="button" onclick="generateContactUsCaptcha()" class="refresh">↻</button>
                                </div>
                                <input type="hidden" name="generated_captcha" value="{{ captcha_code }}">
                                <input type="text" id="contact-captcha-input" class="cpfill mt-2" placeholder="Enter CAPTCHA" required>
                                <div id="contact-captcha-message" class="error-message mt-2"></div>
                            </div>
                            <button type="submit" class="send-btn" id="submit" onclick="return validateContactUsCaptcha()">Submit</button>
                  
                          </form>
                    </div>


                </div>
            </div>
        </div>

    </section>


    <!-- Map Section -->
    <section class="py-5 section-style my-5">
        <div class="container">
            <div class="row justify-content-around gap-3">
                <div class="col-lg-6">
                    <h4 class="text-center mb-0 mad-header">India Office</h4>
                    <div class="map-embed">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14033.653068826698!2d77.0766042!3d28.436956!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d19dd7ebac4c9%3A0xa8db413059a8181e!2sGrand%20Ortus%20Solutions%20Private%20Limited!5e0!3m2!1sen!2sin!4v1733547142871!5m2!1sen!2sin"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="map-embed">
                        <h4 class="text-center mb-0 mad-header">Australia Office</h4>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3319.113792283053!2d150.86713497428806!3d-33.706004310642875!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b129ea489d029b3%3A0x572e90fdfcb8f2dd!2s23%20Rosetta%20St%2C%20Schofields%20NSW%202762%2C%20Australia!5e0!3m2!1sen!2sin!4v1733548900902!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
               
            </div>

        </div>
    </section>

    {% endblock content %}


</body>

</html>