{% extends "main/base.html" %}
{% block title %}
<title>Our Partners Grand Ortus | Collaborating for Innovative Solutions</title>
{% endblock title %}
{% block metaname %}
<meta name="description" content="Explore Grand Ortus's strategic partnerships with leading technology providers. Learn how our collaborations enhance system integration, innovation, and business success.">
{% endblock metaname %}
{% block metakeyword %}
<meta name="keywords" content="Grand Ortus partners, strategic partnerships, technology partnerships, business collaborations, system integration partners, IT solutions partners, technology providers, business innovation partners, Grand Ortus alliances, technology collaboration, innovative IT solutions">
{% endblock metakeyword %}
{% block csslink %}
<link rel="stylesheet" href="/static/css/Partners.css">
{% endblock csslink %}     
<body>

{% block content %}
<!-- partners hero section -->

<section class="hero">
  <div class="container">
      <div class="row justify-content-center text-center pt-4">
          <div class="col-lg-7 col-md-12 col-12">
              <div class="left-item align-items-center">
                  <div class="heading-sec ">
                      <h1>Our Partners</h1>
                      <p>
                          Collaborating with industry leaders to deliver world-class solutions.
                      </p>
                  </div>
                  <!-- <button class="learn-more-btn mt-lg-5">
                          <a href="#" class="learn-more-link">Learn More</a></button> -->
              </div>
          </div>
      </div>
  </div>
</section>

<!-- Partners-img Section -->

<section class="py-5">
<div class="container">
    <div class="row g-4">

        <div class="col-lg-3">
            <a href="https://www.airwatch.com" target="_blank">
                <div class="partner-card">
                    <img src="/static/images/PartnersImg/airwatch.png" class="card-img-top" alt="AirWatch" />
                </div>
            </a>
        </div>

        <div class="col-lg-3">
            <a href="https://www.cisco.com" target="_blank">
                <div class="partner-card">
                    <img src="/static/images/PartnersImg/cisco.png" class="card-img-top" alt="Cisco" />
                </div>
            </a>
        </div>

        <div class="col-lg-3">
            <a href="https://www.aten.com" target="_blank">
                <div class="partner-card">
                    <img src="/static/images/PartnersImg/aten.png" class="card-img-top" alt="Aten" />
                </div>
            </a>
        </div>

        <div class="col-lg-3">
            <a href="https://www.citrix.com" target="_blank">
                <div class="partner-card">
                    <img src="/static/images/PartnersImg/citrix.png" class="card-img-top" alt="Citrix" />
                </div>
            </a>
        </div>

        <div class="col-lg-3">
            <a href="https://www.commvault.com" target="_blank">
                <div class="partner-card">
                    <img src="/static/images/PartnersImg/commvault.png" class="card-img-top" alt="Commvault" />
                </div>
            </a>
        </div>

        <div class="col-lg-3">
            <a href="https://www.f5.com" target="_blank">
                <div class="partner-card">
                    <img src="/static/images/PartnersImg/f5.png" class="card-img-top" alt="F5" />
                </div>
            </a>
        </div>

        <div class="col-lg-3">
            <a href="https://www.forcepoint.com" target="_blank">
                <div class="partner-card">
                    <img src="/static/images/PartnersImg/forcepoint.png" class="card-img-top" alt="Forcepoint" />
                </div>
            </a>
        </div>

        <div class="col-lg-3">
            <a href="https://www.google.com" target="_blank">
                <div class="partner-card">
                    <img src="/static/images/PartnersImg/google.png" class="card-img-top" alt="Google" />
                </div>
            </a>
        </div>

        <div class="col-lg-3">
            <a href="https://www.hpe.com" target="_blank">
                <div class="partner-card">
                    <img src="/static/images/PartnersImg/hewlette-packard.png" class="card-img-top" alt="Hewlett-Packard Enterprise" />
                </div>
            </a>
        </div>

        <div class="col-lg-3">
            <a href="https://www.ibm.com" target="_blank">
                <div class="partner-card">
                    <img src="/static/images/PartnersImg/ibm.png" class="card-img-top" alt="IBM" />
                </div>
            </a>
        </div>

        <div class="col-lg-3">
            <a href="https://www.juniper.net" target="_blank">
                <div class="partner-card">
                    <img src="/static/images/PartnersImg/juniper.png" class="card-img-top" alt="Juniper Networks" />
                </div>
            </a>
        </div>

        <div class="col-lg-3">
            <a href="https://www.lenovo.com" target="_blank">
                <div class="partner-card">
                    <img src="/static/images/PartnersImg/lenavo.png" class="card-img-top" alt="Lenovo" />
                </div>
            </a>
        </div>

        <div class="col-lg-3">
            <a href="https://www.microsoft.com" target="_blank">
                <div class="partner-card">
                    <img src="/static/images/PartnersImg/microsoft.png"class="card-img-top" alt="Microsoft" />
                </div>
            </a>
        </div>

        <div class="col-lg-3">
            <a href="https://www.netapp.com" target="_blank">
                <div class="partner-card">
                    <img src="/static/images/PartnersImg/netapp.png" class="card-img-top" alt="NetApp" />
                </div>
            </a>
        </div>

        <div class="col-lg-3">
            <a href="https://www.arista.com" target="_blank">
                <div class="partner-card">
                    <img src="/static/images/PartnersImg/arista.png" class="card-img-top" alt="Arista Networks" />
                </div>
            </a>
        </div>

        <div class="col-lg-3">
            <a href="https://www.apc.com" target="_blank">
                <div class="partner-card">
                    <img src="/static/images/PartnersImg/apc.png" class="card-img-top" alt="APC by Schneider Electric" />
                </div>
            </a>
        </div>

        <div class="col-lg-3">
            <a href="https://www.epicgames.com/fortnite" target="_blank">
                <div class="partner-card">
                    <img src="/static/images/PartnersImg/fortnite.png" class="card-img-top" alt="Fortnite" />
                </div>
            </a>
        </div>

        <div class="col-lg-3">
            <a href="https://www.arubanetworks.com" target="_blank">
                <div class="partner-card">
                    <img src="/static/images/PartnersImg/aruba.png" class="card-img-top" alt="Aruba Networks" />
                </div>
            </a>
        </div>

    </div>
</div>
</section>

{% endblock content %}


</body>
</html>