{% extends "main/base.html" %}
{% block csslink %}
{% block title %}
<title>Team Grand Ortus</title>
{% endblock title %}
{% block metaname %}
<meta name="description" content="Meet the talented team at Grand Ortus. Our experienced professionals specialize in system integration, delivering innovative IT solutions that drive business success and digital transformation.">
{% endblock metaname %}
{% block metakeyword %}
<meta name="keywords" content="Grand Ortus team, system integration experts, technology professionals, IT solutions team, digital transformation experts, technology consultants, experienced system integrators, IT services professionals, business technology experts, innovative team, seamless integration specialists">
{% endblock metakeyword %}
<link rel="stylesheet" href="/static/css/Team.css">
{% endblock csslink %}
<body>

  {% block content %}
  <!-- team hero Section -->
<section class="hero">
  <div class="container">
      <div class="row justify-content-center text-center pt-4">
          <div class="col-lg-7 col-md-12 col-12">
              <div class="left-item align-items-center">
                  <div class="heading-sec ">
                    <h1>Team Grand Ortus</h1>
                    <p>At Grand Ortus, our leadership team is the driving force behind our innovation, integrity, and growth. Each member brings a wealth of experience, expertise, and dedication to guiding the company toward success. </p>
                
                  </div>
                  <!-- <button class="learn-more-btn mt-lg-5">
                      <a href="#" class="learn-more-link">Learn More</a>
                  </button> -->
              </div>
          </div>
      </div>
  </div>
</section>


  <!-- Team  hero Section -->

  <section class="team-section text-center">
   
    <div class="container">
      <h2>Meet Our Professional</h2>
      
      <div class="row g-4">
        <!-- Team Member 1 -->
        <div class="col-md-6 col-lg-3">
          <div class="ourteam team-ourteam">
            <img src="/static/images/boy.jpg" alt="Marta Smith">
            <div class="overlay pt-2">
              <h5>Marta Smith</h5>
              <p>Product Designer</p>
              <div class="social-icons d-flex justify-content-center align-items-center">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>

        <!-- Team Member 2 -->
        <div class="col-md-6 col-lg-3">
          <div class="ourteam team-ourteam">
            <img src="/static/images/boy.jpg" alt="Thomas Smith">
            <div class="overlay pt-2">
              <h5>Thomas Smith</h5>
              <p>Developer</p>

              <div class="social-icons d-flex justify-content-center align-items-center">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
        <!-- Team Member 3 -->
        <div class="col-md-6 col-lg-3">
          <div class="ourteam team-ourteam">
            <img src="/static/images/boy.jpg" alt="Stella Smith">
            <div class="overlay pt-2">
              <h5>Stella Smith</h5>
              <p>Project Manager</p>

              <div class="social-icons d-flex justify-content-center align-items-center">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
        <!-- Team Member 4 -->
        <div class="col-md-6 col-lg-3">
          <div class="ourteam team-ourteam">
            <img src="/static/images/boy.jpg" alt="Martin Smith">
            <div class="overlay pt-2">
              <h5>Martin Smith</h5>
              <p>Artificial Intelligence</p>

              <div class="social-icons d-flex justify-content-center align-items-center">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% endblock content %}


</body>

</html>