@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: #d5dadb8c;
}

:root {

    --primary-color: #0090d2;
    --secondary-color: #575757;
    --text-color: #555;
    --color: #fff;

    --primary-size: 40px;
    --secondary-size: 20px;

    --btn-size: 16px;
    --btn-radius: 10px;
    --btn-padding: 10px 20px;
    --btn-transform: uppercase;
    --btn-weight: 500;

}

p,
h1,
h2,
h3 {
    padding: 0;
    margin: 0;
}

.navbar-brand img {
    width: 190px;
}

.navbar .btn {
    background: var(--primary-color) !important;
    color: var(--color) !important;
    border-radius: var(--btn-radius);
    padding: var(--btn-padding);
}

.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    background-color: var(--color);
    box-shadow: 0 0 18px 1px rgb(0 0 0 / 10%);
}

.navbar .btn a {
    text-decoration: none;
    color: var(--color);
    text-transform: var(--btn-transform);
    font-weight: var(--btn-weight);
}

/* .btn:hover {
    background-color: #ffffff !important; 
  } */

.navbar .btn:hover a {
    color: var(--secondary-color) !important;

}

.navbar-light .navbar-nav .nav-link {
    color: var(--secondary-color);
    padding: 0;
}

.nav-link {
    position: relative;
    text-decoration: none;
}

.nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    transition: width 0.3s ease;
}

.nav-link:hover::before {
    width: 100%;
}


.nav-item.dropdown .dropdown-menu {
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.triangle::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 20px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid #fff;
    z-index: 1;
}


.dropdown-menu {
    margin-top: 10px;

}

.dropdown .dropdown-menu {
    display: none;
}

.dropdown:hover>.dropdown-menu,
.dropend:hover>.dropdown-menu {
    display: block;
    margin-top: .125rem;
    border: none;
}

.dropdown-menu {
    transition: all 0.3s ease-in-out;
}

.dropend:hover>.dropdown-menu {
    position: absolute;
    top: 0;
    left: 100%;
    margin-top: .125rem;

}

.navbar-nav .nav-link:hover {
    color: var(--primary-color) !important;
}

.dropdown-menu .dropdown-item:hover {
    color: var(--primary-color);
}

/* Hero Section */

.hero {
    /* background-image: url(/images/freepik-export-20241126055721newr.png); */
    /* background-repeat: no-repeat;
    background-size: cover; */
    /* width: 100%; */
    background: var(--primary-color);
    height: 50vh;
    display: flex;
    align-items: center;
    position: relative;
}

.hero::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: #00000048;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.hero h1,
.hero p,
.learn-more-btn {
    position: relative;
    z-index: 1;
    color: var(--color);
}


.heading-sec h1 {
    font-size: var(--primary-size);
    color: var(--color);
    font-weight: 500;
}

.heading-sec p {
    font-size: var(--secondary-size);
    color: #cfcccc;

}

.learn-more-btn {
    padding: var(--btn-padding);
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: var(--btn-radius);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.learn-more-btn .learn-more-link {
    color: var(--color);
    text-decoration: none;
    display: inline-block;
    text-transform: var(--btn-transform);
    font-weight: var(--btn-weight);
}

.learn-more-btn:hover {
    background-color: var(--color);
    border: 1px solid var(--primary-color);

}

.learn-more-btn:hover .learn-more-link {
    color: var(--primary-color);

}

/*-- Aboutus Grand ortus Section -- */

.grandortus h1{
    font-size: var(--primary-size);
    color: var(--primary-color);
    text-transform: capitalize;

}
.grand-text{
    font-size: 16px;
    text-align: justify;
    /* line-height: 30px; */
}

.grand-img img{
    width: 350px;
}

.grand-img::after {
    content: "";
    border: 6px solid var(--primary-color);
    width: 300px;
    height: 304px;
    position: absolute;
    top: 57px;
    right: 85px;
    z-index: -1;
}

/* About/card section */


/* .card {
    transition: transform 0.4s ease, box-shadow 0.4s ease, border-color 0.4s ease;
    border: 2px solid #ddd; 
    border-radius: 15px; 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); 
    overflow: hidden; 
    
}

.card:hover {
    transform: scale(1.05) translateY(-10px); 
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3); 
    border-color: #007bff; 
}

.card:hover .card-body {
    background: linear-gradient(120deg, #f3f3f3, #e0e0e0); 
}

.card-body {
    transition: background 0.4s ease;
} */

.card{
    background-color: #aee1f9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease;
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1); visibility: visible; animation-name: zoomIn; will-change: transform;
}
.card-body{
    min-height: 300px;
    padding: 30px;
}

.card-text{
    text-align: justify;
    padding: 18px;
}
.card-title{
    font-size: 30px;
    font-weight: 600;
    color: var(--text-color);
}


/* ----Footer Section---- */

footer {
    background-color: #1a1a2e;
    color: var(--color);
}

footer h6 {
    font-weight: bold;
    color: var(--primary-color);
}

.footer-logosec p {
    font-size: 14px;
    color: #b1b1b1;
    text-align: justify;

}

footer a {
    font-size: 14px;
    color: #b1b1b1;
    text-decoration: none;

}

.footer-service .text-light {
    color: inherit;
    transition: color 0.3s ease;

}

/* .footer-service .text-light:hover {
     color: var(--primary-color) !important; 
     Bootstrap's text-light color 
    width: 100%;
}*/

.btn-outline-light {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.text-light {
    position: relative;

}

.footer-service .text-light:hover::before {
    width: 100%;
}

.footer-service .text-light::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    transition: width 0.3s ease;
}

.btn-outline-light:hover {
    background-color: #4e9cff;
    color: var(--color);
}

.footer-logosec img {
    width: 180px;
    height: auto;
    margin-bottom: 15px;
}