.hero {
    /* background-image: url(/images/freepik-export-20241126055721newr.png); */
    background: var(--primary-color);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    position: relative;
}

.hero::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: #00000048;
    z-index: 0;
    width: 100%;
    height: 100%;
}
.hero h1,
.hero p,
.learn-more-btn {
    position: relative;
    z-index: 1;
    color:var(--color);
}


.content-section {
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
 
}

.content-text {
    flex: 1;
}

.content-text p {
    font-size: 1.1rem;
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 0;
}

.article {
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.176);
    border-radius: 5px 5px 0px 0px;

}

.article-header {
    padding: 12px;
    border-radius: 5px 5px 0px 0px;
    background-color: var(--primary-color);
}

.content-text strong {
    color: #0d6efd;
}

.alternate-section {
    padding: 20px;
    background-color: #90c1f2;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: center;
}

.alternate-section h2 {
    font-size: 30px;
    /* color: #495057; */
    margin-bottom: 1rem;
}

.alternate-section p {
    line-height: 1.7;
    color: #6c757d;
    text-align: justify;
}

.alternate-section img {
    max-width: 50%;
    height: auto;
    margin-top: 15px;
    border-radius: 8px;
}
.blog-section {
    border-left: 1px solid #ddd;
    padding-left: 15px;
    margin-top: 20px;
}

.blog-item {
    margin-bottom: 20px;
}

.blog-item img {
    width: 150px;
    height: 66px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.blog-item p {
    margin: 10px 0;
    font-size: 14px;
    font-weight: bold;
}

.blog-item a {
    text-decoration: none;
    font-size: 12px;
}