.hero {
    /* background-image: url(/images/freepik-export-20241126055721newr.png); */
    background: var(--primary-color);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    position: relative;
}

.hero::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: #00000048;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.hero h1,
.hero p,
.learn-more-btn {
    position: relative;
    z-index: 1;
    color: var(--color);
}


ul.list-group {
    margin-bottom: 40px;
  }

  ul.list-group-item {
    font-size: 1.1rem;
    padding: 20px;
  }

  ul.list-group-item strong {
    color: #007bff;
  }

  section {
    margin-bottom: 40px;
  }

  .text-center p {
    font-size: 1.1rem;
    color: #6c757d;
    margin-top: 20px;
  }

  .Key-sec{
    background-color: #0090d2;
    color: #fff;
  }

  .Key-sec ul li{
    padding-top: 10px;
  }