/* Contacthero-section */

.hero {
    /* background-image: url(/images/freepik-export-20241126055721newr.png); */
    background: var(--primary-color);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    position: relative;
}

.hero::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: #00000048;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.hero h1,
.hero p,
.learn-more-btn {
    position: relative;
    z-index: 1;
    color:var(--color);
}

/* contact location card section */

.location-box {
    background-color: #12163b;
    color:var(--color);
    padding: 20px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.location-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.location-box .icon {
    color: #00d4ff;
    margin-right: 8px;
}

.location-box h5 {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 700;
}

.location-box p {
    margin: 0 0 10px;
}

.location-box::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    opacity: 0.1;
    z-index: 0;
}

.location-box.india::after {
    background: url('/static/images/Flag_India.png') no-repeat center center/cover;
}

.location-box.australia::after {
    background: url('/static/images/Flag_Australia.png') no-repeat center center/cover;
}

.location-box.uk::after {
    background: url('/static/images/Flag_UK.png') no-repeat center center/cover;
}


.Contacthero-section h1 {
    font-size: 40px;
    font-weight: 700;
}

.Contacthero-section p {
    font-size: 1.2rem;
    margin-top: 15px;
}


.map-embed iframe {
    width: 100%;
    border: 0;
    height: 230px;
    border-radius: 8px;
}

.mad-header {
    background-color: #575757;
    color: var(--color);
    font-weight: bold;
    padding: 10px;
    border-radius: 10px 10px 0 0;
}

.section-style {
    background: linear-gradient(135deg, #3eade0, #0090d3);
    color:var(--color);
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

/* .map-embed iframe {
    border-radius: 50px 0 50px;
} */