:root {

  --primary-color: #0090d2;
  --secondary-color: #575757;
  --text-color: #555;
  --color: #fff;

  --primary-size: 30px;
  --secondary-size: 20px;

  --btn-size: 16px;
  --btn-radius: 10px;
  --btn-padding: 10px 20px;
  --btn-transform: uppercase;
  --btn-weight: 500;

}

.custom-section {
      background-color: var(--color);
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 20px;
    }
    .custom-heading {
      color:  var(--primary-color);
      font-weight: 700;
      margin-bottom: 30px;
      text-align: center;
    }
    .list-item {
      display: flex;
      align-items: start;
      gap: 15px;
      margin-bottom: 20px;
    }
    .list-item i {
      color: var(--primary-color);
      font-size: 20px;
    }
    .list-item strong {
      font-size: 17px;
      color: #004a78;
    }
    .list-item p {
      margin: 10px;
      color: #6c757d;
    }
    .custom-title {
      font-size: 30px;
      font-weight: 700;
      color: var(--primary-color);
    }
    .custom-list-item {
      margin-bottom: 10px;
    }
    .custom-highlight {
      color: var(--primary-color);
      font-weight: bold;
    }

  ul{
    list-style: none;
  }

