.job-details {
    font-size: 14px;
    color: #6c757d;
}

.job-details i {
    color: #6c757d;
    margin-right: 8px;
}

.form-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    background: var(--color);
}

.required::after {
    content: \" *\";
    color: red;
}
