
/* lifehero Section */
.hero {
  /* background-image: url(/images/freepik-export-20241126055721newr.png); */
  background: var(--primary-color);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  position: relative;
}

.hero::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background-color: #00000048;
  z-index: 0;
  width: 100%;
  height: 100%;
}
.hero h1,
.hero p,
.learn-more-btn {
    position: relative;
    z-index: 1;
    color:var(--color);
}



/* Image Grid Section */
.image-grid-section {
  padding: 60px 20px;
}

.image-grid img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-grid img:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Culture Highlights */
.culture-section {
  background-color: #f8f9fa;
  padding: 60px 20px;
}

.culture-item {
  text-align: center;
  padding: 20px;
}

.culture-item i {
  font-size: 48px;
  color: var(--primary-color);
  margin-bottom: 15px;
}

.culture-item h4 {
  font-size:24px;
  margin-bottom: 10px;
}

.culture-item p {
  font-size: 16px;
  color: #777;
}

/* Testimonials Section */
.testimonials-section {
  /* background: linear-gradient(to right, #004090, #0056b3); */
  background:var(--primary-color);
  color:var(--color);
  padding: 60px 20px;
}

.testimonial-card {
  background: var(--color);
  color: #333;
  border: none;
  border-radius: 15px;
  padding: 20px;
  min-height: 247px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.testimonial-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
}

.testimonial-card img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.testimonial-card h5 {
  font-size: 20px;
  margin-bottom: 10px;
}

.testimonial-card p {
  font-size: 16px;
}