@media screen and (min-width:769px) {}

@media screen and (max-width:992px) {
    .dropend:hover>.dropdown-menu {
        position: absolute;
        top: 0;
        left: 100%;

    }

    .soludro {
        flex-direction: column;
    }

    .hero {
        height: 50vh;
        background-position: center;
    }

    .heading-sec h1 {
        font-size: 30px;
        text-align: center;
    }

    .heading-sec p {
        text-align: center;
        font-size: 23px;
        padding-bottom: 8px;
    }

    .learn-more-btn {
        display: block;
        margin: 0 auto;
    }

    .dropend:hover>.dropdown-menu {
        position: absolute;
        top: 63px;
        left: 0;
    }

    .status {
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .stat-item::after {
        display: none;
    }

    .about-img .first,
    .second {
        display: none;
    }

    .box {
        min-height: 260px;
    }

    .hover-text h1 {
        padding-bottom: 10px;
    }

    .about {
        text-align: center;
    }

    .about-text h1 {
        font-size: 30px;
    }

    .service h1 {
        /* font-size: 30px; */
        margin-bottom: 15px;
    }

    .chooseus-text {
        text-align: center;
    }

    .chooseus-text h1 {
        font-size: 27px;
        margin-bottom: 15px;
        line-height: 27px;
    }

    .align-items-center {
        margin-top: 10px;
    }

    .client-feedback {
        flex-direction: column;
        text-align: center;
        margin: 15px 0 15px 0;
    }

    .choose-img {
        margin-top: 15px;
    }

    .feedbacks-section h4 {
        text-align: center;
    }

    .feedbacks-heading {
        font-size: 30px;
        margin-bottom: 15px;
        text-align: center;
    }

    .blog-section h1 {
        font-size: 30px;
    }

    .contact-title {
        text-align: center;
    }

    .Contact-section h1 {
        text-align: center;
    }






    .blog-section .row {
        flex-direction: column;
        gap: 20px;
    }

    .blog-section .col-lg-3,
    .blog-section .col-md-3,
    .blog-section .col-sm-1 {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
    }

    .blog-section h4 {
        font-size: 1.3rem;
    }

    .blog-section h1 {
        font-size: 1.8rem;
    }

    .card-title {
        font-size: 1rem;
    }

    .maincard {
        width: auto;
    }

    .feedback-card {
        display: flex;
        flex-direction: column;
    }

    .feedback-card .feed_cont img {
        height: 200px;
    }


    /* Responsive Design work flow chart */

    @media (max-width: 768px) {
        .workflow-container {
            flex-direction: column;
            align-items: flex-start;
        }

        .workflow-line {
            top: auto;
            left: 50%;
            height: 100%;
            width: 3px;
            background: #0078ff;
            transform: translateX(-50%);
        }

        .workflow-step {
            text-align: left;
            flex: none;
            margin-bottom: 40px;
            width: 100%;
        }

        .workflow-step .workflow-circle {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .workflow-step h6,
        .workflow-step p {
            margin-left: 90px;
        }

        .workflow-step .workflow-icon {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }


}