@media screen and (max-width:992px) {

    :root {
        --primary-size: 26px;
    }

    .dropend:hover>.dropdown-menu {
        position: static;
        top: 63px;
        left: 0;
    }

   

    .soludro {
        flex-direction: column;
    }

    section.hero {
        height: 50vh !important;
    }

    .Copyright {
        justify-content: center !important;
    }

    .iso-iec {
        display: none;
    }


    .main-hero {

        height: 50vh;
        background-position: center;
    }

    .heading-sec h1,
    .about-text h1,
    .chooseus-text h1,
    .blog-section h1 {
        font-size: var(--primary-size);
        text-align: center;
    }

    .heading-sec p,
    .chooseus-text,
    .contact-title,
    .Contact-section h1,
    .feedbacks-section h4,
    .feedbacks-heading {
        text-align: center;
    }

    .heading-sec p {
        font-size: 23px;
        padding-bottom: 8px;
    }

    .chooseus-text h1 {
        margin-bottom: 15px;
        line-height: 27px;
    }

    .learn-more-btn {
        display: block;
        margin: 0 auto;
    }

    .status {
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .stat-item::after {
        display: none;
    }

    .about-img .first,
    .about-img .second {
        display: none;
    }

    .box {
        min-height: 260px;
    }

    .hover-text h1 {
        padding-bottom: 10px;
    }

    .about {
        text-align: center;
    }

    .service h1 {
        margin-bottom: 15px;
    }

    .align-items-center {
        margin-top: 10px;
    }

    .client-feedback {
        flex-direction: column;
        text-align: center;
        margin: 15px 0;
    }

    .choose-img {
        margin-top: 15px;
    }

    .blog-section h4 {
        font-size: 1.3rem;
    }

    .card-title {
        font-size: 1rem;
    }

    .maincard {
        width: auto;
    }

    .feedback-card {
        display: flex;
        flex-direction: column;
    }

    .feedback-card .feed_cont img {
        height: 200px;
    }

    .msme-img {
        display: none;
    }

    .dropdown-wide {
        max-height: 50vh;
        overflow-y: scroll;
        left: 0 !important;
        top: 40px;
        width: 100% !important;
    }

    .dropdown-wide[data-bs-popper] {
        left: 0 !important;
        top: 40px !important;
        width: 100% !important;
    }

    /* *, ::after, ::before {
        border: none !important;
    }
*/

    .grand-img::after {
        content: "";
        border: 6px solid var(--primary-color);
        width: 218px;
        height: 255px;
    }

    .grand-img::after {
        content: "";
        border: 6px solid var(--primary-color);
        width: 300px;
        height: 304px;
        position: absolute;
        top: 20px;
        right: -2px;
        z-index: -1;
    }

    /* Blog Section */

    .image-container::after {
        content: "";
        border: 6px solid var(--primary-color);
        width: 273px;
        height: 312px;
        position: absolute;
        top: -2px;
        right: 24px;
        z-index: -1;
        border: none;
    }

    .image-container img {
        width: 328px;
        height: 308px;
    }

    /* case study */
    .image-health-container::after {
        content: "";
        border: 6px solid var(--primary-color);
        background-color: var(--primary-color);
        width: 283px;
        height: 293px;
        position: absolute;
        top: 24px;
        right: 73px;
        z-index: -1;
    }
    .challenge-desc-image::after {
        content: "";
        border: 5px solid #597fb0;
        width: 395px;
        height: 385px;
        position: absolute;
        top: 30px;
        right: 255px;
        z-index: -1;
        border: none;
    }
    .challenge-desc-image img {
        width: 650px;
        height: 350px;
        border-radius: 5px;
        margin-bottom: 20px;
    }
/* product Section */
    .product-img::after {
        content: "";
        border: 6px solid var(--primary-color);
        width: 382px;
        height: 370px;
        position: absolute;
        top: 2px;
        right: 76px;
        z-index: -1;
    }
    

}

/* Responsive Design work flow chart */

@media (max-width: 768px) {
    .workflow-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .workflow-line {
        top: auto;
        left: 75%;
        height: 100%;
        width: 3px;
        background: #0078ff;
        transform: translateX(-50%);
    }

    .workflow-step {
        text-align: left;
        flex: none;
        margin-bottom: 40px;
        width: 100%;
    }

    .workflow-step .workflow-circle {
        top: 50%;
        left: 75%;
        transform: translate(-50%, -50%);
    }

    .workflow-step h6,
    .workflow-step p {
        margin-left: 90px;
    }

    .workflow-step .workflow-icon {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    .workflow-step:not(:first-child):not(:last-child) .workflow-circle {
        left: 75%;

    }

    #getQuoteBtn {
        display: none;
    }
}