
.hero {
    /* background-image: url(/images/freepik-export-20241126055721newr.png); */
    background: var(--primary-color);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    position: relative;
}

.hero::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: #00000048;
    z-index: 0;
    width: 100%;
    height: 100%;
}
.hero h1,
.hero p,
.learn-more-btn {
    position: relative;
    z-index: 1;
    color:var(--color);
}



.Implementation-title {
    font-size: 32px;
    /* font-weight:600; */
    /* text-align: center; */
    margin:20px 0 10px 0;

}

.divider {
    width: 200px;
    height: 4px;
    /* background-color: var(--primary-color); */
    margin: 0 auto 40px auto;
}

.service-list li {
    display: flex;
    align-items: baseline;
    margin-bottom: 15px;
    font-size: 1rem;
    color: #555;
}

.service-list li i {
    color: var(--primary-color);
    margin-right: 10px;
    font-size: 14px;
}

.service-image img {
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 100%;
}

.service-list li:hover {
    color:var(--primary-color);
    /* cursor: pointer; */
}
