{% extends "main/base.html" %}
{% block title %}
<title>Grand Ortus | Mobile and Web Development - Custom Solutions for Your Business</title>
{% endblock title %}
{% block metaname %}
<meta name="description" content="Grand Ortus offers expert mobile and web development services to create high-performance, user-friendly applications and websites tailored to meet the needs of your business">
{% endblock metaname %}
{% block metakeyword %}
<meta name="keywords" content="Mobile App Development, Web Development, Custom Web Solutions, Mobile Development Services, Grand Ortus, App Development, User-Friendly Applications, Business Websites">
{% endblock metakeyword %}
{% block csslink %}
<link rel="stylesheet" href="/static/css/Service.css">
{% endblock csslink %}


<body>
{% block content %}
<!-- Serice Hero Section -->

    <section class="hero">
        <div class="container">
            <div class="row justify-content-center text-center pt-4">
                <div class="col-lg-7 col-md-12 col-12">
                    <div class="left-item align-items-center">
                        <div class="heading-sec ">
                            <h1>Mobile Application & Web Development</h1>
                            <p>Creating impactful user experiences that drive engagement, loyalty, and growth.</p>
                        </div>
                        <!-- <button class="learn-more-btn mt-lg-5">
                                <a href="#" class="learn-more-link">Learn More</a></button> -->
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Networking Section -->
    <section class="py-5">
        <div class="container">
            <div class="row align-items-center">
                <!-- Left Content -->
                <div class="col-md-6">
                    <h2 class="section-heading py-3">Mobile Application & Web Development</h2>
                    <!-- <div class="divider"></div> -->
                    <ul class="list-unstyled feature-list service-list">
                        <li><i class="fas fa-diamond"></i> Notifications and Interactive features ensures direct engagement.</li>
                        <li><i class="fas fa-diamond"></i> A well-designed app builds brand recognition and trust.</li>
                        <li><i class="fas fa-diamond"></i> Responsive Design: Adapts seamlessly to different devices and screen sizes.</li>
                        <li><i class="fas fa-diamond"></i> Combine web technologies (HTML, CSS, JavaScript) with native components for cost-effective solutions.</li>
                        <li><i class="fas fa-diamond"></i> Encryption, authentication, and regular updates for data protection.</li>
                        <li><i class="fas fa-diamond"></i> Tailored to your business needs and goals.</li>

                    </ul>
                </div>

                <!-- Right Image -->
                <div class="col-md-6 text-center image-container">
                    <img src="/static/images/mobapp.jpg" alt="Mobile App & Web Development"
                        class="img-fluid rounded shadow service-image">
                </div>

            </div>
        </div>
    </section>

    <!-- Service Section -->

    <section class="service py-5">
      <div class="container text-center mb-5">
        <h4>Featured Services</h4>
        <h1>Technology solutions that work for you</h1>
    
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 py-4">
          
          <!-- Implementation Services & IT Infrastructure Consulting -->
          <div class="col">
            <div class="service-card">
              <div class="service-icon">📁</div>
              <div class="service-title">
                <a href="{% url "ImplementationServices" %}">Implementation Services & IT Infrastructure Consulting</a>
              </div>
              <div class="service-text">
                Expert integration, deployment, and strategic guidance to enhance your IT infrastructure and performance.
              </div>
            </div>
          </div>
          
          <!-- Mobile App & Web Development -->
          <div class="col">
            <div class="service-card">
              <div class="service-icon">📱</div>
              <div class="service-title">
                <a href="{% url "MobWebDev" %}">Mobile App & Web Development</a>
              </div>
              <div class="service-text">
                Crafting innovative mobile and web applications tailored to your business needs.
              </div>
            </div>
          </div>
          
          <!-- Networking & Intranet -->
          <div class="col">
            <div class="service-card">
              <div class="service-icon">🌐</div>
              <div class="service-title">
                <a href="{% url "Networking" %}">Networking & Intranet</a>
              </div>
              <div class="service-text">
                Seamless integration of networking and intranet solutions to boost connectivity, collaboration, and efficiency.
              </div>
            </div>
          </div>
          
          <!-- FMS & AMC Support -->
          <div class="col">
            <div class="service-card">
              <div class="service-icon">⚙️</div>
              <div class="service-title">
                <a href="{% url "FMSAndAMCSupport" %}">FMS & AMC Support</a>
              </div>
              <div class="service-text">
                Unwavering support and service to keep your systems running smoothly, whenever you need it.
              </div>
            </div>
          </div>
          
          <!-- Mobility & Cloud -->
          <div class="col">
            <div class="service-card">
              <div class="service-icon"> <img src="/static/images/cld.png" class"img-fluid" alt=""></div>
              <div class="service-title">
                <a href="{% url "MobilityAndCloud" %}">Mobility & Cloud</a>
              </div>
              <div class="service-text">
                Tailored strategies for mobility and cloud adoption, empowering your business to thrive in the digital landscape.
              </div>
            </div>
          </div>
          
          <!-- Datacenter Infra Design & Deployment -->
          <div class="col">
            <div class="service-card">
              <div class="service-icon">🏢</div>
              <div class="service-title">
                <a href="{% url "Datacenter" %}">Datacenter Infra Design & Deployment</a>
              </div>
              <div class="service-text">
                Robust datacenter infrastructure design and deployment for reliability and scalability.
              </div>
            </div>
          </div>
          
          <!-- Cyber Security -->
          <div class="col">
            <div class="service-card">
              <div class="service-icon">🔒</div>
              <div class="service-title">
                <a href="{% url "Security" %}">Cyber Security</a>
              </div>
              <div class="service-text">
                Fortified protection for your data and systems. Stay vigilant and prioritize cybersecurity to protect your business and its valuable assets.
              </div>
            </div>
          </div>
  
          <div class="col">
            <div class="service-card">
              <div class="service-icon">🛡️</div>
              <div class="service-title">
                <a href="{% url "ZeroTrustNetwork" %}">Zero Trust Network Framework</a>
              </div>
              <div class="service-text">
                Merging robust Internet and Networking solutions with Zero Trust principles to enhance security and performance.
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </section>
    
{% endblock content %}
</body>

</html>