{% extends "main/base.html" %}
{% block title %}
<title>Grand Ortus | Services - Comprehensive IT Solutions for Businesses</title>
{% endblock title %}
{% block metaname %}
<meta name="description" content="Explore the full range of Grand Ortus services, including data center solutions, cybersecurity, cloud computing, networking, infrastructure services, and more to support your business growth.">
{% endblock metaname %}
{% block metakeyword %}
<meta name="keywords" content="Grand Ortus Services, IT Solutions, Data Center, Cloud Computing, Cybersecurity, Networking, Infrastructure Services, Business IT Support, Managed IT Services">
{% endblock metakeyword %}
{% block csslink %}
<link rel="stylesheet" href="/static/css/ServiceList.css">
{% endblock csslink %}
<body>

{% block content %}
<!-- product hero section -->

<section class="hero">
  <div class="container">
      <div class="row justify-content-center text-center pt-4">
          <div class="col-lg-7 col-md-12 col-12">
              <div class="left-item align-items-center">
                  <div class="heading-sec ">
                      <h1 class="text-center">Solutions</h1>
                      <p class="text-center mt-2">Discover innovative solutions designed to elevate your business
                          infrastructure.</p>
                  </div>
                  <!-- <button class="learn-more-btn mt-lg-5">
                          <a href="#" class="learn-more-link">Learn More</a></button> -->
              </div>
          </div>
      </div>
  </div>
</section>

<!-- product section -->

<div class="container">
  <!-- Product List -->
  <div class="row g-5">
      <!-- Left Side (Title) -->
      <div class="col-lg-6 d-flex justify-content-center ">
          <div class="product-text my-2">
              <h1>Services We Offer</h1>
              <ul class="list-unstyled feature-list service-list my-4">
                <li><i class="fas fa-diamond"></i> Networking Solutions</li>
                <li><i class="fas fa-diamond"></i> Cloud Solutions</li>
                <li><i class="fas fa-diamond"></i> Data Center Solutions</li>
                <li><i class="fas fa-diamond"></i> Audio Visual</li>
                <li><i class="fas fa-diamond"></i> Storage Solutions</li>
                <li><i class="fas fa-diamond"></i> Mouting Solutions</li>
            </ul>
          </div>
      </div>

      <!-- Right Side (Scrollable Product Items) -->
      <div class="col-lg-6">
          <div class="right-side">
              <!-- Product Item -->
              <div class="product-item">
                  <img src="/static/images/Networking Solutions.jpg" alt="Product Image" class="product-img">
                  <div class="product-info">
                      <h5>Networking Solutions</h5>
                      <p>Secure, scalable, and tailored networking solutions to meet your business needs.</p>
                      {% comment %} <button class="product-btn">View Product</button> {% endcomment %}
                  </div>
              </div>

              <!-- Product Item -->
              <div class="product-item">
                  <img src="/static/images/cloud.jpg" alt="Product Image" class="product-img">
                  <div class="product-info">
                      <h5>Cloud Solutions</h5>
                      <p>Empowering businesses with cloud infrastructure for scalability and efficiency.</p>
                      {% comment %} <button class="product-btn">View Product</button> {% endcomment %}
                  </div>
              </div>

              <!-- Product Item -->
              <div class="product-item">
                  <img src="/static/images/Datacenter.jpg" alt="Product Image" class="product-img">
                  <div class="product-info">
                      <h5>Data Center Solutions</h5>
                      <p>Robust and efficient data center services tailored to your organizational needs.</p>
                      {% comment %} <button class="product-btn">View Product</button> {% endcomment %}
                  </div>
              </div>

              <!-- Product Item -->
          
              <div class="product-item">
                  <img src="/static/images/Audio Solutions.jpg" alt="Product Image" class="product-img">
                  <div class="product-info">
                      <h5>Audio Visual</h5>
                      <p>Comprehensive IT infrastructure services to support business growth and innovation.</p>
                      {% comment %} <button class="product-btn">View Product</button> {% endcomment %}
                  </div>
              </div>
              <div class="product-item">
                  <img src="/static/images/Security Solutions.jpg" alt="Product Image" class="product-img">
                  <div class="product-info">
                      <h5>Storage Solutions</h5>
                      <p>Comprehensive IT infrastructure services to support business growth and innovation.</p>
                      {% comment %} <button class="product-btn">View Product</button> {% endcomment %}
                  </div>
              </div>
              <div class="product-item">
                  <img src="/static/images/28195.jpg" alt="Product Image" class="product-img">
                  <div class="product-info">
                      <h5>    Accessories</h5>
                      <p>Comprehensive IT infrastructure services to support business growth and innovation.</p>
                      {% comment %} <button class="product-btn">View Product</button> {% endcomment %}
                  </div>
              </div>
            
              <div class="product-item">
                  <img src="/static/images/Mouting Solutions.jpg" alt="Product Image" class="product-img">
                  <div class="product-info">
                      <h5>Mouting Solutions</h5>
                      <p>Comprehensive IT infrastructure services to support business growth and innovation.</p>
                      {% comment %} <button class="product-btn">View Product</button> {% endcomment %}
                  </div>
              </div>
              <div class="product-item">
                  <img src="/static/images/Security Solutions.jpg" alt="Product Image" class="product-img">
                  <div class="product-info">
                      <h5>Security Solutions</h5>
                      <p>Comprehensive IT infrastructure services to support business growth and innovation.</p>
                      {% comment %} <button class="product-btn">View Product</button> {% endcomment %}
                  </div>
              </div>
              <div class="product-item">
                  <img src="/static/images/Print Solutions.jpg" alt="Product Image" class="product-img">
                  <div class="product-info">
                      <h5>Print Solutions</h5>
                      <p>Comprehensive IT infrastructure services to support business growth and innovation.</p>
                      {% comment %} <button class="product-btn">View Product</button> {% endcomment %}
                  </div>
              </div>
              <div class="product-item">
                  <img src="/static/images/Components Solutions.png" alt="Product Image" class="product-img">
                  <div class="product-info">
                      <h5>Components</h5>
                      <p>Comprehensive IT infrastructure services to support business growth and innovation.</p>
                      {% comment %} <button class="product-btn">View Product</button> {% endcomment %}
                  </div>
              </div>
              <div class="product-item">
                  <img src="/static/images/Software Solutions.png" alt="Product Image" class="product-img">
                  <div class="product-info">
                      <h5>Software</h5>
                      <p>Comprehensive IT infrastructure services to support business growth and innovation.</p>
                      {% comment %} <button class="product-btn">View Product</button> {% endcomment %}
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

{% endblock content %}


</body>
</html>