{% extends "main/base.html" %}
{% block csslink %}
<link rel="stylesheet" href="/static/css/ByIndustries.css">
{% endblock csslink %}
<body>

{% block content %}
       <!-- Manufacturing hero section -->
       <section class="hero">
        <div class="container">
            <div class="row justify-content-center text-center pt-4">
                <div class="col-lg-7 col-md-12 col-12">
                    <div class="left-item align-items-center">
                        <div class="heading-sec ">
                            <h1>Manufacturing Industry</h1>
                            <!-- <p class="lead">Streamline operations and enhance guest experiences with modern IT -->
                                solutions.</p>
                        </div>
                        <!-- <button class="learn-more-btn mt-lg-5">
                                <a href="#" class="learn-more-link">Learn More</a></button> -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--  Manufacturing section -->

    <div class="container mt-3">
        <section class="content-section ">
            <div class="row">
                <div class="col-lg-6" data-aos="fade-right" data-aos-duration="1500"><img src="/static/images/Manufacturing Industry.jpg" alt="Technology Concept"
                        class="img-fluid rounded">
                </div>

                <div class="col-lg-6" data-aos="fade-left" data-aos-duration="1500">
                    <div class="content-text">
                        <h3><strong>Thriving Manufacturing Industry:</strong></h3>
                        <p> Greetings from Grand Ortus! We’re
                            passionate about empowering manufacturers with cutting-edge technology solutions that drive
                            efficiency, innovation, and profitability.

                            The manufacturing industry has always been at the forefront of technological advancement,
                            and the rise of Industry 4.0 has further cemented its dependence on IT. Let’s delve into the
                            transformative power of information technology in modern manufacturing:
                        </p>
                    </div>
                </div>
        </section>
    </div>


    <!-- Features Section -->

    <section id="features" class="py-5">
        <div class="container">
            <h2 class="text-center mb-5 fw-bold">How IT is Transforming the Hospitality Industry</h2>
            <div class="row">
                <!-- Feature 1 -->
                <div class="col-md-6">
                    <div class="feature-item">
                        <div class="icon me-3">
                            <i class="bi">1</i>
                        </div>
                        <div>
                            <h5 class="fw-bold">Automation and Robotics:</h5>
                            <ul>
                                <li>
                                    <p>Industrial robots handle repetitive tasks with precision, increasing productivity
                                        and reducing human error.</p>
                                </li>
                                <li>Automated guided vehicles (AGVs) navigate factory floors autonomously, streamlining
                                    material handling and logistics.</li>
                                <li>Predictive maintenance leverages sensors and AI to anticipate equipment failures,
                                    preventing costly downtime.</li>
                            </ul>

                        </div>
                    </div>
                </div>
                <!-- Feature 2 -->
                <div class="col-md-6">
                    <div class="feature-item">
                        <div class="icon me-3">
                            <i class="bi">2</i>
                        </div>
                        <div>
                            <h5 class="fw-bold">Data-Driven Decision Making:</h5>
                            <ul>
                                <li>Manufacturing execution systems (MES) collect and analyze real-time production data,
                                    providing insights for optimizing processes and resource allocation.</li>
                                <li>Supply chain management (SCM) software enhances visibility and control over the flow
                                    of materials, ensuring timely deliveries and minimizing inventory costs.</li>
                                <li>Business intelligence (BI) tools transform vast amounts of data into actionable
                                    insights, enabling data-driven decision making at all levels</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Feature 3 -->
                <div class="col-md-6">
                    <div class="feature-item">
                        <div class="icon me-3">
                            <i class="bi">3</i>
                        </div>
                        <div>
                            <h5 class="fw-bold"> Enhanced Product Design and Development:</h5>
                            <ul>
                                <li>Computer-aided design (CAD) and manufacturing (CAM) software create 3D models and
                                    simulations, accelerating product development and improving design accuracy.</li>
                                <li>Additive manufacturing (3D printing) enables rapid prototyping and production of
                                    complex designs, fostering innovation and customization.</li>
                                <li>Virtual reality (VR) and augmented reality (AR) tools enhance collaboration and
                                    training, streamlining product development and maintenance processes.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Feature 4 -->
                <div class="col-md-6">
                    <div class="feature-item">
                        <div class="icon me-3">
                            <i class="bi">4</i>
                        </div>
                        <div>
                            <h5 class="fw-bold">Improved Quality Control and Traceability:</h5>
                            <ul>
                                <li>Machine vision systems use cameras and AI to inspect products for defects, ensuring
                                    consistent quality and minimizing waste.</li>
                                <li>Track and trace solutions provide real-time visibility into product movement
                                    throughout the supply chain, enhancing transparency and accountability.</li>
                                <li>Digital twin technology creates a virtual replica of the physical production system,
                                    enabling real-time monitoring and optimization of performance.</li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Benefits Section -->

    <section class="beyond-section py-3">
        <div class="container">
            <h4>The Benefits of IT in Manufacturing:</h4>
            <ul>
                <li class="p-2">Increased productivity and efficiency: Automation, data-driven insights, and improved processes lead
                    to significant output gains.</li>
                <li class="p-2">Enhanced quality and reduced waste: Advanced quality control systems and optimized processes
                    minimize defects and rework.</li>
                <li class="p-2">Improved agility and adaptability: Manufacturers can quickly adjust to changing market demands and
                    production requirements.</li>
                <li class="p-2">Reduced costs and optimized resource allocation: Data-driven decision making and automation minimize
                    waste and improve resource utilization.
                <li class="p-2">Enhanced safety and worker well-being: Automation reduces risks associated with manual tasks, and
                    improved ergonomics create a safer work environment.
                </li>
            </ul>
        </div>
    </section>

      <!-- Beyond Section -->

      <section class="beyond-section py-3">
        <div class="container">
            <h4>Partnering with an IT Solutions Provider:</h4>
            <p class="highlight-text">We understand the unique challenges and opportunities faced by manufacturers. We offer a comprehensive suite of IT solutions tailored to your specific needs, helping you unlock the full potential of technology to achieve operational excellence.</p>
            <p class="highlight-text">Contact us today to discuss how we can help your manufacturing business thrive in the digital age!</p>
            <p class="highlight-text">We believe that information technology is not just a tool for the manufacturing industry; it is the driving force behind its future success. By embracing innovation and partnering with the right IT solutions provider, manufacturers can unlock a world of possibilities and achieve sustainable growth in the ever-evolving global landscape.</p>
            <p class="highlight-text">Let’s work together to build the future of manufacturing!</p>
        </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script>
      AOS.init();
    </script>
    {% endblock content %}
</body>

</html>